@use 'sass:color';

.plug, .plugboard_row, .plugboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plug {
  width: 40px;
  height: 60px;
  margin: 10px;
  flex-direction: column;
}

.plug_inner {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $plug-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plug_inner div {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: color.scale($plug-color, $lightness: 30%);
}

.plug_inner div:hover {
  background-color: $plug-select-color;
}

.plug_row {
  width: 75%;
}

.plugboard {
  flex-direction: column;
  flex-wrap: wrap;
}